/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    min-height: 100vh;
    font-family: var(--font-primary);
    line-height: var(--leading-none);
    color: var(--color-neutral-0);
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
    color: var(--color-neutral-300);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
    font-weight: var(--font-extra-bold);
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
}

button:focus,
input:focus {
    outline-width: var(--focus-outline-width);
    outline-color: var(--focus-outline-color);
    outline-style: var(--focus-outline-style);
    outline-offset: var(--focus-outline-offset);
}

@supports selector(:focus-visible) {
    input:focus,
    button:focus {
        outline: none;
    }

    input:focus-visible,
    button:focus-visible {
        outline-width: var(--focus-outline-width);
        outline-color: var(--focus-outline-color);
        outline-style: var(--focus-outline-style);
        outline-offset: var(--focus-outline-offset);
    }
}
