:root {
    --color-neutral-0: hsl(0, 0%, 100%);
    --color-neutral-300: hsl(252, 6%, 83%);
    --color-neutral-500: hsl(245, 15%, 58%);
    --color-neutral-700: hsl(245, 19%, 35%);
    --color-neutral-900: hsl(248, 70%, 10%);

    --color-orange-500: hsl(7, 88%, 67%);
    --color-orange-700: hsl(7, 71%, 60%);

    --gradient-text: linear-gradient(90deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));

    --surface-glass: hsla(0, 0%, 100%, 8%);
    --surface-glass-hover: hsla(0, 0%, 100%, 18%);

    --font-primary: "Inconsolata", system-ui, sans-serif;
    --font-normal: 400;
    --font-medium: 500;
    --font-bold: 700;
    --font-extra-bold: 800;

    --text-xs: 0.75rem;
    --text-base: 1rem;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;

    --rounded-full: 9999px;
    --rounded-xs: 0.375rem;
    --rounded-sm: 0.625rem;

    --leading-none: 1;

    --focus-outline-style: solid;
    --focus-outline-color: var(--color-neutral-300);
    --focus-outline-offset: 3px;
    --focus-outline-width: 2px;
}

@custom-media --tablet (min-width: 48em);
@custom-media --laptop (min-width: 64em);
